// NOTE: This requires that you have Susy available. http://susy.oddbird.net
// If you are using an app like Scout http://scout-app.io then it will add susy automatically when you write @import "susy";

//GLOBAL SUSY LAYOUT SETTINGS ======================================
@import "susy";
$global-box-sizing: border-box;
//This creates settting with a 12 column grid, gutters that are 1/2 the width of 1 column, gutters inside by setting the padding, a maximum width of 1500px and border-box
$susy: (
    columns: 12,
    gutters: 1/2,
    gutter-position: inside,
    container: 1500px,
    global-box-sizing: border-box,
);

@import "normalized-reset";
@import "navigation";
@import "base-navigation";
@import "base-typography";
@import "utilities";
@import "color";
@import "typography";
@import "base-typography";

////////////////////home-page css\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.pres-debate{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(6);
    padding-bottom: 9.3%
}
.home-list{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(6);
    padding-bottom: 1.45%;
}
.homepage-heading{
    @include container;
    padding: gutter();
    color: #fff;

}

////////////////reg-page css\\\\\\\\\\\\\\\\\\\\\\
.header-content{
    @include container;
    background-color: $primary2;
    padding: gutter();
    float: left;
}

.register-info{
    @include container;
    background-color: $primary2;
    padding: gutter();

}
.deadline{
    @include container;
    background-color: $primary2;
    padding: gutter();
}

.change-reg{
    @include container;
    background-color: $primary2;
    padding: gutter();
}

.eligibility{
    @include container;
    background-color: $primary3;
    padding: gutter();
}

.how-to-reg{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
}

.mail-in-reg{
    @include container;
    background-color: $primary2;
    padding: gutter();
}

.online-reg{
    @include container;
    background-color: $primary3;
    padding: gutter();
}

.events-reg{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
}

.get-involved{
    @include container;
    background-color: $primary2;
    padding: gutter();
}

.resources-reg{
    @include container;
    background-color: $primary3;
    padding: gutter();
}


.dates-title{
    @include container;
    background-color: $primary3;
    padding: gutter();
}
.poll-locations{
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(4 break);
    padding-bottom: 6.66%
}
.absentee-ballots{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(4 last);
    padding-bottom: 3.15%;
}
.get-involved-dates{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(4);
    padding-bottom: 6.7%;

}

.more-information{
      @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(8)
}

//candidate page

.federal-heading{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
}

.candidate-imageHC{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(3);
    padding-bottom: 5%;
}
.candidate-imageDT{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(3);
    padding-bottom: 4.1%;
}
.candidate-imageJS{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(3);
    padding-bottom: 2.4%;
}
.candidate-imageGJ{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(3);
    padding-bottom: 5.25%;

}
.congress-heading{
    @include container;
    background-color: $primary2;
    padding: gutter();
    clear: both;
}
.candidate-imageCS{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(3);
    padding-bottom: 6.6%;
}
.candidate-imageWL{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(3);
    padding-bottom: 4%
}
.candidate-imageRL{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(3);
    padding-bottom: 6.9%;
}
.candidate-imageAM{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(3);
    padding-bottom: 7%;
}
.senate-heading{
    @include container;
    background-color: $primary3;
    padding: gutter();
}

.house-of-rep-heading{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
}
.candidate-imageJN{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(4);
    padding-bottom: 2.6111%;
}
.candidate-imagePR{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(4);
}
.candidate-imageMI{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(4);
    padding-bottom: 3.29%;
}



.dem-primary-heading{
    float: left;
    @include span(12);
    background-color: $primary2;
}
.new-york-state-heading{
    @include container;
    background-color: $primary2;
    padding: gutter();
}
.candidate-imageDG{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(4);
}
.candidate-imageJF{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(4);
    padding-bottom: 4.4%;
}
.republican-primary-heading{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(4);
    padding-bottom: 17.45%;
}
.dem-primary-heading2{
    float: left;
    @include span(12);
    background-color: $primary3;
}
.candidate-imageDS{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(6);
}
.republican-primary-heading2{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(6);
    padding-bottom: 32.9%
}
.candidate-sorces{
    @include container;
    background-color: $primary;
    padding: gutter();
    color: #fff;
    @include span(12);
}
///////////////////////////event page\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.eventCalendar1{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(6);
}
.eventCalendar-agenda{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(6);
}

.featured-event{
@include container;
    background-color: $primary3;
    padding: gutter();
}
.first-pres-debate{
    @include container;
    background-color: $primary;
    padding: gutter();
    @include span(4);
    padding-bottom: 2.7%;
}
.second-pres-debate{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(4);
}
.vice-pres-debate{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(4);
    padding-bottom: 5.4%;
}

/////////////////////////////////get involved\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.get-involved-resources{
    @include container;
    background-color: $primary;
    padding: gutter();
    @include span(3);
    color: #fff;
}
.voter-info-and-edu{
    @include container;
    background-color: $primary2;
    padding: gutter();
    @include span(3);
}
.media-resources{
    @include container;
    background-color: $primary3;
    padding: gutter();
    @include span(3);
}
.political-parties{
    @include container;
    background-color: $primary;
    padding: gutter();
    @include span(3);
    color: #fff;
    padding-bottom: 8%;
}
